@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat:wght@100;200&family=Oswald:wght@200&display=swap');

.awesomeText {
  color: indigo;
  background-color: lawngreen;
}

.redText {
  color: red;
  font-family: Oswald;
}

.blueText {
  color: blue;
}

.awesomeDiv {
  background-color: blue;
  color: white;
  padding-left: 5px;
  font-family: Comforter;
}
.awesomeDiv > h1 {
  color: purple;
}
